@charset 'utf-8';

$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "pc": "screen and (min-width: 768px)"
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&display=swap");

$font-en: "Gabarito", sans-serif;

body {
  color: #2a2a2a;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #2a2a2a;
  transition: all 0.4s;

  &:hover {
    opacity: 0.7;
  }
}

.section__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.002em;
}

.section__en {
  margin-top: 20px;
  text-align: center;
  color: #49b7cf;
  font-size: 18px;
  font-family: $font-en;
  letter-spacing: 0.003em;
}

// header

.header {
  height: 97px;
  padding: 0 40px 0 18px;
  display: flex;
  align-items: center;

  &__title {
    width: 155px;

    &--link {
      display: block;
    }
  }

  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__item {
    &:nth-of-type(n + 2) {
      margin-left: 32px;
    }

    &--link {
      display: block;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.004em;
    }
  }

  &__number {
    margin-left: 25px;
    padding-left: 28px;
    font-size: 29px;
    letter-spacing: 0.003em;
    font-weight: 500;
    font-family: $font-en;
    display: block;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 21px;
      height: 21px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/phone01.png) center center / contain no-repeat;
    }
  }
}

// mv

.mv {
  padding-top: 60px;
  background: #49B7CF;

  .container {
    max-width: 1236px;
    display: flex;
  }

  &__textContents {
    flex: 0 1 54%;
  }

  &__labels {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__label {
    color: #49B7CF;
    background: #FFF064;
    padding: 7px 13px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.003em;
    border-radius: 13px;

    &:nth-of-type(n + 2) {
      margin-left: 8px;
    }

    &:nth-of-type(n + 4) {
      margin-top: 8px;
    }

    &:nth-of-type(4) {
      margin-left: 0;
    }
  }

  &__text {
    margin-top: 20px;
    padding-bottom: 21px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 97%;
      height: 15px;
      left: 0;
      bottom: 0;
      background: url(../img/border.png) center center / contain repeat-x;
    }
  }

  &__title {
    margin-top: 15px;
    color: #fff;
    font-size: 50px;
    line-height: calc(68 / 50);
    font-weight: 900;
  }

  &__btn {
    width: 312px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: linear-gradient(90deg, #FF961B, #FF5C00);
    font-size: 20px;
    font-weight: 900;
    border-radius: 66px;
    margin-top: 25px;
    padding-right: 26px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 20px;
      right: 38px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/arrow-right.png) center center / contain no-repeat;
    }
  }

  &__picture {
    flex: 0 1 46%;
  }
}

// problem

.problem {
  margin-top: 89px;

  .container {
    max-width: 1130px;
  }

  &__picture {
    width: 111px;
    margin: 0 auto;
  }

  .section__title {
    margin-top: 18px;
  }

  &__boxs {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 1 30.909%;
    background: #f7f6f5;
    border-radius: 20px;
    padding: 60px 35px 36px;

    &:nth-of-type(2) {
      .problem__icon {
        width: 96px;
        height: 96px;
      }

      .problem__title {
        margin-top: 17px;
      }
    }
  }

  &__icon {
    width: 79px;
    height: 79px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 34px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    margin-top: 20px;
    font-size: 14px;
    line-height: calc(25 / 14);
    font-weight: 500;
  }
}

// solution

.solution {
  margin-top: 120px;
  padding: 89px 14px 70px;
  background: #49b7cf;
  border-radius: 32px;
  position: relative;

  &__circle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 110px;
    height: 110px;
  }

  &__wrapper {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fd912d;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 119px;
      height: 119px;
      background: #fff;
      border-radius: 50%;
      z-index: -10;
    }

    &::after {
      position: absolute;
      content: "";
      width: 120px;
      height: 120px;
      border: 1px solid #fd912d;
      border-radius: 50%;
    }
  }

  &__text {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.007em;

    &--inline {
      font-size: 34px;
    }
  }

  &__title {
    text-align: center;
    color: #fff;
    font-size: 53px;
    font-weight: 700;
    letter-spacing: 0.002em;

    &--inline {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background: #fff;
        border-radius: 50%;
      }
    }
  }

  &__boxs {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  &__box {
    flex: 0 1 33.3333%;

    &:nth-of-type(n + 2) {
      border-left: 1px dashed #fff;
    }
  }

  &__ttl {
    margin: 0 auto;
    width: 248px;
    height: 60px;
    color: #49b7cf;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.01em;
    border-radius: 6px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 41px;
      height: 27px;
      left: 50%;
      transform: translateX(-50%);
      bottom: -15px;
      background: url(../img/arrow-bottom2.png) center center / contain no-repeat;
    }
  }

  &__txt {
    margin-top: 25px;
    color: #fff;
    font-size: 18px;
    line-height: calc(31 / 18);
    font-weight: 700;
    padding: 0 28px;

    &--big {
      margin-top: 42px;
      text-align: center;
      font-size: 38px;
    }
  }
}

// reason

.reason__container {
  margin-top: 80px;
  padding: 0;
  max-width: 1240px;
  background: #f7f6f5;
  border-radius: 36px;
}

.reason {
  padding: 100px 70px;
  
  &__boxs {
    margin-top: 40px;
  }

  &__box {
    height: 315px;
    padding: 0 55px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-of-type(n + 2) {
      margin-top: 20px;
    }
  }

  &__textContents {
    flex: 0 1 100%;
  }

  &__title {
    font-size: 24px;
    line-height: calc(40 / 24);
    font-weight: 700;
    letter-spacing: 0.002em;
  }

  &__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: calc(25 / 14);
    font-weight: 500;
  }

  &__picture {
    margin-left: 55px;
    flex: 0 0 336px;
  }

  &__btn {
    width: 348px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #fd912d;
    font-size: 20px;
    font-weight: 900;
    border-radius: 66px;
    margin: 50px auto 0;
    padding-right: 26px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 20px;
      right: 56px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/arrow-right.png) center center / contain no-repeat;
    }
  }
}

// flow

.flow {
  padding-top: 120px;

  .container {
    max-width: 794px;
  }

  &__boxs {
    margin-top: 40px;
  }

  &__box {
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 15px 25px 15px 15px;

    &:nth-of-type(n + 2) {
      margin-top: 43px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 21px;
        height: 23px;
        left: 50%;
        transform: translateX(-50%);
        top: -33px;
        background: url(../img/flow-arrow.png) center center / contain no-repeat;
      }
    }
  }

  &__picture {
    flex: 0 0 134px;
    height: 109px;
  }

  &__textContents {
    flex: 0 1 100%;
    margin-left: 25px;
  }

  &__title {
    font-size: 17px;
    font-weight: 900;
  }

  &__text {
    margin-top: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.pre {
  margin-top: 100px;

  .container {
    max-width: 1130px;
  }

  &__boxs {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__box {
    border-radius: 20px;
    background: #f7f6f5;
    flex: 0 1 205px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__picture {
    width: 68px;
    height: 68px;
  }

  &__text {
    margin-top: 20px;
    font-weight: 700;
  }
}

.container2 {
  margin-top: 120px;
  padding: 0 134px 120px;
  background: #f7f6f5;
  border-radius: 20px;
}

// faq

.faq {
  padding-top: 120px;

  &__boxs {
    margin-top: 40px;
    padding: 25px 104px 61px;
    border-radius: 20px;
    background: #fff;
  }

  &__box {
    border-bottom: 2px solid #e4e4e4;
  }

  &__header {
    padding: 36px 0 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 21px;
      height: 21px;
      right: 0;
      top: calc(50% + 7px);
      transform: translateY(-50%);
      border-radius: 50%;
      background: #49b7cf;
    }

    &.is-open {
      .faq__right {
        &::after {
          display: none;
        }
      }
    }
  }

  &__left {
    color: #49b7cf;
    font-size: 19px;
    font-weight: 700;
    font-family: $font-en;
  }

  &__right {
    flex: 0 1 100%;
    margin-left: 22px;
    font-size: 18px;
    font-weight: 700;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 2px;
      top: 50%;
      transform: translateY(-50%);
      right: 6px;
      background: #fff;
      border-radius: 5px;
      z-index: 10;
    }

    &::after {
      position: absolute;
      content: "";
      width: 2px;
      height: 9px;
      top: 50%;
      transform: translateY(-50%);
      right: 9.5px;
      background: #fff;
      border-radius: 5px;
      z-index: 10;
    }
  }

  &__body {
    padding-left: 45px;
    font-size: 14px;
    line-height: calc(24 / 14);
    display: none;
  }
}

// about

.about {
  padding-top: 100px;

  &__box {
    margin-top: 40px;
    padding: 70px 122px;
    background: #fff;
    border-radius: 20px;
  }

  &__title {
    color: #49b7cf;
    font-size: 30px;
    font-family: $font-en;
    letter-spacing: 0.003em;
    width: fit-content;
    margin: 0 auto;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      left: -14px;
      top: 50%;
      transform: translateY(-50%) rotate(30deg);
      width: 1px;
      height: 30px;
      background: #49b7cf;
    }

    &::after {
      position: absolute;
      content: "";
      right: -14px;
      top: 50%;
      transform: translateY(-50%) rotate(30deg);
      width: 1px;
      height: 30px;
      background: #49b7cf;
    }
  }

  &__text {
    margin-top: 42px;
    text-align: center;
    font-size: 15px;
    line-height: calc(30 / 15);
    font-weight: 500;
    letter-spacing: 0.003em;
  }

  &__picture {
    margin-top: 21px;
  }
}

// company

.company {
  margin-top: 100px;

  &__area {
    margin-top: 40px;
    padding: 45px 104px 70px;
    background: #fff;
    border-radius: 20px;
  }

  &__row {
    padding: 25px 0;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
  }

  &__left {
    flex: 0 0 109px;
    font-size: 15px;
    line-height: calc(27 / 15);
    font-weight: 500;
    letter-spacing: 0.003em;
  }

  &__right {
    font-size: 15px;
    line-height: calc(27 / 15);
    font-weight: 500;
    letter-spacing: 0.003em;
  }
}

// contact

.contact {
  background: #49b7cf;
  border-radius: 36px;
  padding: 100px 134px 110px;

  .section__title {
    color: #fff;
  }

  .section__en {
    color: #fff;
  }

  &__text {
    margin-top: 30px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    line-height: calc(30 / 15);
    font-weight: 500;
    letter-spacing: 0.003em;
  }

  &__number {
    margin: 30px auto 0;
    padding-left: 47px;
    width: fit-content;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    font-family: $font-en;
    display: block;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 35px;
      height: 35px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/phone02.png) center center / contain no-repeat;
    }
  }

  &__form {
    margin-top: 80px;
    padding: 70px 124px 90px;
    background: #fff;
    border-radius: 20px;
  }

  &__row {
    display: flex;
    align-items: center;

    &:nth-of-type(n + 2) {
      margin-top: 30px;
    }
  }

  &__row2 {
    align-items: flex-start;
  }

  &__left {
    flex: 0 0 208px;
  }

  &__info {
    width: fit-content;
    font-size: 15px;
    line-height: calc(27 / 15);
    font-weight: 500;

    &--required {
      position: relative;

      &::after {
        position: absolute;
        content: "*";
        color: #FF0000;
        font-size: 15px;
        font-weight: 500;
        top: 0;
        right: -10px;
      }
    }

    &--required2 {
      &::after {
        right: 0;
      }
    }
  }

  &__right {
    flex: 0 1 100%;

    input[type="text"],
    input[type="email"] {
      width: 100%;
      height: 45px;
      padding-left: 16px;
      font-size: 12px;
      background: #f6f6f6;
      border: 1px solid #eaeaea;
      border-radius: 2px;
    }

    select {
      width: 100%;
      height: 45px;
      padding-left: 16px;
      font-size: 12px;
      font-weight: 500;
      background: #f6f6f6;
      border: 1px solid #eaeaea;
      border-radius: 2px;
    }

    &--select {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 7px;
        right: 19px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../img/arrow-bottom3.png) center center / contain no-repeat;
      }
    }

    textarea {
      width: 100%;
      height: 294px;
      font-size: 12px;
      padding: 16px 0 0 16px;
      background: #f6f6f6;
      border: 1px solid #eaeaea;
      border-radius: 2px;
      resize: none;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__name {
    margin-left: 12px;
  }

  &__txt {
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  &__privacy {
    margin-top: 10px;
    height: 170px;
    padding: 25px;
    border: 1px solid #eaeaea;
    font-size: 14px;
    line-height: calc(24 / 14);
    overflow: scroll;
    border-radius: 2px;
  }

  &__checkArea {
    margin-top: 14px;
    display: flex;
    align-items: center;
  }

  &__check {
    display: none;

    &:checked + .contact__checkLabel::after {
      display: block;
    }
  }

  &__checkLabel {
    padding-left: 23px;
    position: relative;

    @include mq(sp) {
      text-align: left;
      padding-left: 23px;
      font-size: rem(14);
      display: block;
    }

    &::before {
      position: absolute;
      content: "";
      width: 15px;
      height: 15px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #eaeaea;
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 7px;
      left: 3px;
      top: 50%;
      transform: translateY(-90%) rotate(-45deg);
      border-left: 2px solid #49b7cf;
      border-bottom: 2px solid #49b7cf;
      display: none;
    }
  }

  &__btnArea {
    margin: 50px auto 0;
    width: 348px;
    height: 80px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 15px;
      height: 20px;
      right: 56px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/arrow-right.png) center center / contain no-repeat;
    }
  }

  &__btn {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #49b7cf;
    font-size: 20px;
    font-weight: 900;
    border-radius: 66px;
    transition: all 0.4s;

    &:hover {
      opacity: 0.7;
    }
  }
}

// banner

.banner__wrapper {
  position: fixed;
  right: 0;
  bottom: 30px;
}

.banner {
  color: #fff;
  background: #FD912D;
  writing-mode: vertical-lr;
  font-size: 20px;
  font-weight: 900;
  padding: 21px 20px 50px;
  border-radius: 15px 0 0 15px;
  letter-spacing: 0.15em;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25px;
    background: url(../img/arrow-bottom.png) center center / contain no-repeat;
  }
}