@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&family=Zen+Kaku+Gothic+New:wght@400;500;700;900&display=swap");
body {
  color: #2a2a2a;
  font-size: 1.1765vw;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    padding: 64px 0 67px;
    font-size: 14px;
  }
}

body.is-open {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 93.3824vw;
  margin: 0 auto;
  padding: 0 1.1029vw;
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

a {
  color: #2a2a2a;
  transition: all 0.4s;
}

a:hover {
  opacity: 0.7;
}

.section__title {
  text-align: center;
  font-size: 2.6471vw;
  font-weight: 700;
  letter-spacing: 0.002em;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 26px;
    line-height: calc(38 / 26);
  }
}

.section__en {
  margin-top: 1.47059vw;
  text-align: center;
  color: #49b7cf;
  font-size: 1.3235vw;
  font-family: "Gabarito", sans-serif;
  letter-spacing: 0.003em;
}

@media screen and (max-width: 767px) {
  .section__en {
    margin-top: 15px;
    font-size: 16px;
  }
}

.is-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .is-sp {
    display: block;
  }
}

.is-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.header {
  height: 7.1324vw;
  padding: 0 2.9412vw 0 1.3235vw;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 20px 0 25px;
    position: fixed;
    top: 0;
    left: 0;
    height: 62px;
    width: 100%;
    background: #fff;
    z-index: 10;
  }
}

.header__title {
  width: 11.3971vw;
}

@media screen and (max-width: 767px) {
  .header__title {
    width: 81px;
  }
}

.header__title--link {
  display: block;
}

.header__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__item:nth-of-type(n + 2) {
  margin-left: 2.3529vw;
}

.header__item--link {
  display: block;
  font-size: 1.0294vw;
  font-weight: 700;
  letter-spacing: 0.004em;
}

.header__number {
  margin-left: 1.8382vw;
  padding-left: 2.0588vw;
  font-size: 2.1324vw;
  letter-spacing: 0.003em;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header__number {
    display: none;
  }
}

.header__number::after {
  position: absolute;
  content: "";
  width: 1.5441vw;
  height: 1.5441vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/phone01.png) center center/contain no-repeat;
}

.header__hamburger {
  margin-left: auto;
  width: 42px;
  height: 42px;
  background: #49b7cf;
  border-radius: 50%;
  position: relative;
}

.header__line {
  width: 18px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left center;
  transition: all 0.4s;
}

.header__line.is-open {
  display: none;
}

.header__line.is-open:first-of-type {
  display: block;
  left: calc(50% + 3px);
  transform: translate(-50%, -50%) rotate(44deg);
}

.header__line.is-open:last-of-type {
  display: block;
  left: calc(50% + 3px);
  transform: translate(-50%, -50%) rotate(-44deg);
}

.header__line:first-of-type {
  top: calc(50% - 6px);
}

.header__line:last-of-type {
  top: calc(50% + 6px);
}

.drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 62px;
  right: 0;
  background: #49b7cf;
  padding: 115px 0 177px;
  overflow-y: scroll;
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.4s;
}

.drawer.is-open {
  transform: translateX(0);
}

.drawer__item:nth-of-type(n + 2) {
  margin-top: 56px;
  position: relative;
}

.drawer__item:nth-of-type(n + 2)::after {
  position: absolute;
  content: "";
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  width: 42px;
  height: 6px;
  background: url(../img/deco.png) center center/contain no-repeat;
}

.drawer__item--link {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.004em;
}

.drawer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  width: 286px;
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 66px;
  padding-right: 26px;
  color: #fff;
  background: linear-gradient(90deg, #ff961b, #ff5c00);
  position: relative;
}

.drawer__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

.drawer__number {
  margin: 40px auto 0;
  width: fit-content;
  padding-left: 35px;
  color: #fff;
  font-size: 29px;
  letter-spacing: 0.003em;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  display: block;
  position: relative;
}

.drawer__number::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 26px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/phone02.png) center center/contain no-repeat;
}

.mv {
  padding-top: 4.4118vw;
  background: #49b7cf;
}

@media screen and (max-width: 767px) {
  .mv {
    padding-top: 50px;
  }
}

.mv .container {
  max-width: 90.8824vw;
  display: flex;
}

@media screen and (max-width: 767px) {
  .mv .container {
    max-width: 100%;
    display: block;
  }
}

.mv__textContents {
  flex: 0 1 54%;
}

@media screen and (max-width: 767px) {
  .mv__textContents {
    flex: 0 1 100%;
  }
}

.mv__labels {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .mv__labels {
    justify-content: center;
    margin: 0 auto;
    max-width: 345px;
  }
}

.mv__label {
  color: #49b7cf;
  background: #fff064;
  padding: 0.5147vw 0.9559vw;
  font-size: 1.4706vw;
  font-weight: 500;
  letter-spacing: 0.003em;
  border-radius: 0.9559vw;
}

@media screen and (max-width: 767px) {
  .mv__label {
    padding: 4px 8px;
    font-size: 15px;
    border-radius: 6px;
  }
}

.mv__label:nth-of-type(n + 2) {
  margin-left: 0.5882vw;
}

@media screen and (max-width: 767px) {
  .mv__label:nth-of-type(n + 2) {
    margin-left: 4px;
  }
}

.mv__label:nth-of-type(n + 4) {
  margin-top: 0.5882vw;
}

@media screen and (max-width: 767px) {
  .mv__label:nth-of-type(n + 4) {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .mv__label:nth-of-type(n + 3) {
    margin-top: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mv__label:nth-of-type(3) {
    margin-left: 0;
  }
}

.mv__label:nth-of-type(4) {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .mv__label:nth-of-type(4) {
    margin-left: 4px;
  }
}

@media screen and (max-width: 767px) {
  .mv__label:last-of-type {
    margin-left: 0;
  }
}

.mv__text {
  margin-top: 1.4706vw;
  padding-bottom: 1.5441vw;
  color: #fff;
  font-size: 1.4706vw;
  font-weight: 700;
  position: relative;
}

@media screen and (max-width: 767px) {
  .mv__text {
    margin-top: 18px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.mv__text::after {
  position: absolute;
  content: "";
  width: 97%;
  height: 1.1029vw;
  left: 0;
  bottom: 0;
  background: url(../img/border.png) center center/contain repeat-x;
}

@media screen and (max-width: 767px) {
  .mv__text::after {
    width: 291px;
    height: 9px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.mv__title {
  margin-top: 1.1029vw;
  color: #fff;
  font-size: 3.6765vw;
  line-height: calc(68 / 50);
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .mv__title {
    margin-top: 5px;
    text-align: center;
    font-size: 38px;
    line-height: calc(50 / 38);
  }
}

.mv__btn {
  width: 22.9412vw;
  height: 5.5147vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(90deg, #ff961b, #ff5c00);
  font-size: 1.4706vw;
  font-weight: 900;
  border-radius: 4.8529vw;
  margin-top: 1.8382vw;
  padding-right: 1.9118vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .mv__btn {
    display: none;
  }
}

.mv__btn::after {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.4706vw;
  right: 2.7941vw;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

.mv__picture {
  flex: 0 1 46%;
}

@media screen and (max-width: 767px) {
  .mv__picture {
    flex: 0 1 100%;
    margin: 15px auto 0;
    max-width: 335px;
  }
}

.cta {
  padding: 18px 0;
  background: #F7F6F5;
}

.cta__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 286px;
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 66px;
  padding-right: 26px;
  color: #fff;
  background: linear-gradient(90deg, #ff961b, #ff5c00);
  position: relative;
}

.cta__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 16px;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

.problem {
  margin-top: 6.5441vw;
}

@media screen and (max-width: 767px) {
  .problem {
    margin-top: 18px;
  }
}

.problem .container {
  max-width: 83.0882vw;
}

@media screen and (max-width: 767px) {
  .problem .container {
    max-width: 100%;
  }
}

.problem__picture {
  width: 8.1618vw;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .problem__picture {
    width: 79px;
  }
}

.problem .section__title {
  margin-top: 1.3235vw;
}

@media screen and (max-width: 767px) {
  .problem .section__title {
    margin-top: 8px;
  }
}

.problem__boxs {
  margin-top: 2.9412vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .problem__boxs {
    margin-top: 30px;
    display: block;
  }
}

.problem__box {
  flex: 0 1 30.909%;
  background: #f7f6f5;
  border-radius: 1.4706vw;
  padding: 4.4118vw 2.5735vw 2.6471vw;
}

@media screen and (max-width: 767px) {
  .problem__box {
    flex: 0 1 100%;
    border-radius: 12px;
    padding: 24px 25px 25px;
  }
}

.problem__box:nth-of-type(2) .problem__icon {
  width: 7.0588vw;
  height: 7.0588vw;
}

@media screen and (max-width: 767px) {
  .problem__box:nth-of-type(2) .problem__icon {
    width: 88px;
    height: 88px;
  }
}

.problem__box:nth-of-type(2) .problem__title {
  margin-top: 1.25vw;
}

@media screen and (max-width: 767px) {
  .problem__box:nth-of-type(2) .problem__title {
    margin-top: 12px;
  }
}

@media screen and (max-width: 767px) {
  .problem__box:nth-of-type(n + 2) {
    margin-top: 12px;
  }
}

.problem__icon {
  width: 5.8088vw;
  height: 5.8088vw;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .problem__icon {
    width: 72px;
    height: 72px;
  }
}

.problem__title {
  margin-top: 2.5vw;
  text-align: center;
  font-size: 1.7647vw;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .problem__title {
    margin-top: 20px;
    font-size: 20px;
  }
}

.problem__text {
  margin-top: 1.4706vw;
  font-size: 1.0294vw;
  line-height: calc(25 / 14);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .problem__text {
    margin-top: 15px;
    font-size: 14px;
  }
}

.solution {
  margin-top: 8.8235vw;
  padding: 6.5441vw 1.0294vw 8.8235vw;
  background: #49b7cf;
  border-radius: 2.3529vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .solution {
    margin-top: 86px;
    padding: 61px 25px 25px;
    border-radius: 12px;
  }
}

.solution__circle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  width: 8.0882vw;
  height: 8.0882vw;
}

@media screen and (max-width: 767px) {
  .solution__circle {
    width: 84px;
    height: 84px;
  }
}

.solution__wrapper {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fd912d;
  position: relative;
}

.solution__wrapper::before {
  position: absolute;
  content: "";
  width: 8.75vw;
  height: 8.75vw;
  background: #fff;
  border-radius: 50%;
  z-index: -10;
}

@media screen and (max-width: 767px) {
  .solution__wrapper::before {
    width: 91px;
    height: 91px;
  }
}

.solution__wrapper::after {
  position: absolute;
  content: "";
  width: 8.8235vw;
  height: 8.8235vw;
  border: 0.0735vw solid #fd912d;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .solution__wrapper::after {
    width: 92px;
    height: 92px;
  }
}

.solution__text {
  text-align: center;
  color: #fff;
  font-size: 1.4706vw;
  font-weight: 700;
  letter-spacing: 0.007em;
}

@media screen and (max-width: 767px) {
  .solution__text {
    font-size: 15px;
  }
}

.solution__text--inline {
  font-size: 2.5vw;
}

@media screen and (max-width: 767px) {
  .solution__text--inline {
    font-size: 26px;
  }
}

.solution__title {
  text-align: center;
  color: #fff;
  font-size: 3.8971vw;
  font-weight: 700;
  letter-spacing: 0.002em;
}

@media screen and (max-width: 767px) {
  .solution__title {
    font-size: 28px;
    line-height: calc(41 / 28);
  }
}

.solution__title--inline {
  position: relative;
}

.solution__title--inline::after {
  position: absolute;
  content: "";
  width: 0.4412vw;
  height: 0.4412vw;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #fff;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .solution__title--inline::after {
    width: 4px;
    height: 4px;
  }
}

.solution__boxs {
  margin-top: 3.6765vw;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .solution__boxs {
    margin: 0;
    display: block;
  }
}

.solution__box {
  flex: 0 1 33.3333%;
}

@media screen and (max-width: 767px) {
  .solution__box {
    flex: 0 1 100%;
    padding: 25px 0;
  }
}

.solution__box:nth-of-type(n + 2) {
  border-left: 0.0735vw dashed #fff;
}

@media screen and (max-width: 767px) {
  .solution__box:nth-of-type(n + 2) {
    border-top: 1px dashed #fff;
    border-left: none;
  }
}

.solution__ttl {
  margin: 0 auto;
  width: 18.2353vw;
  height: 4.4118vw;
  color: #49b7cf;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6912vw;
  font-weight: 700;
  letter-spacing: 0.01em;
  border-radius: 0.4412vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .solution__ttl {
    width: 187px;
    height: 42px;
    font-size: 18px;
    border-radius: 4px;
  }
}

.solution__ttl::after {
  position: absolute;
  content: "";
  width: 3.0147vw;
  height: 1.9853vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.1029vw;
  background: url(../img/arrow-bottom2.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .solution__ttl::after {
    width: 31px;
    height: 20px;
    bottom: -8px;
  }
}

.solution__txt {
  margin-top: 1.8382vw;
  color: #fff;
  font-size: 1.3235vw;
  line-height: calc(31 / 18);
  font-weight: 700;
  padding: 0 2.0588vw;
}

@media screen and (max-width: 767px) {
  .solution__txt {
    margin-top: 14px;
    font-size: 15px;
    line-height: calc(24 / 15);
    padding: 0;
  }
}

.solution__txt--big {
  margin-top: 3.0882vw;
  text-align: center;
  font-size: 2.7941vw;
}

@media screen and (max-width: 767px) {
  .solution__txt--big {
    margin-top: 12px;
    font-size: 32px;
  }
}

.reason__container {
  margin-top: 5.8824vw;
  padding: 0;
  max-width: 91.1765vw;
}

@media screen and (max-width: 767px) {
  .reason__container {
    margin: 60px auto 0;
    padding: 0 20px;
    max-width: 100%;
    border-radius: 12px;
  }
}

.reason {
  padding: 7.3529vw 8.8235vw;
  background: #f7f6f5;
  border-radius: 2.6471vw;
}

@media screen and (max-width: 767px) {
  .reason {
    padding: 60px 15px;
  }
}

.reason__boxs {
  margin-top: 2.9412vw;
}

@media screen and (max-width: 767px) {
  .reason__boxs {
    margin-top: 30px;
  }
}

.reason__box {
  height: 23.1618vw;
  padding: 0 4.0441vw;
  background: #fff;
  border-radius: 1.4706vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .reason__box {
    height: auto;
    padding: 15px 15px 20px;
    border-radius: 10px;
    display: block;
  }
}

.reason__box:nth-of-type(n + 2) {
  margin-top: 1.4706vw;
}

@media screen and (max-width: 767px) {
  .reason__box:nth-of-type(n + 2) {
    margin-top: 15px;
  }
}

.reason__picture {
  margin-left: 4.0441vw;
  flex: 0 0 24.7059vw;
}

@media screen and (max-width: 767px) {
  .reason__picture {
    flex: 0 1 100%;
    margin: 0 auto;
    max-width: 275px;
  }
}

.reason__textContents {
  flex: 0 1 100%;
}

@media screen and (max-width: 767px) {
  .reason__textContents {
    margin-top: 10px;
  }
}

.reason__title {
  font-size: 1.7647vw;
  line-height: calc(40 / 24);
  font-weight: 700;
  letter-spacing: 0.002em;
}

@media screen and (max-width: 767px) {
  .reason__title {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
}

.reason__text {
  margin-top: 1.1029vw;
  font-size: 1.0294vw;
  line-height: calc(25 / 14);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .reason__text {
    margin-top: 8px;
    font-size: 14px;
  }
}

.reason__btn {
  width: 24.7059vw;
  height: 5.8824vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #fd912d;
  font-size: 1.4706vw;
  font-weight: 900;
  border-radius: 4.8529vw;
  margin: 3.6765vw auto 0;
  padding-right: 1.9118vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .reason__btn {
    margin: 30px auto 0;
    width: 286px;
    height: 58px;
    font-size: 18px;
    border-radius: 66px;
    padding-right: 26px;
  }
}

.reason__btn::after {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.4706vw;
  right: 4.1176vw;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .reason__btn::after {
    width: 12px;
    height: 16px;
    right: 40px;
  }
}

.flow {
  padding-top: 8.8235vw;
}

@media screen and (max-width: 767px) {
  .flow {
    padding-top: 60px;
  }
}

.flow .container {
  max-width: 58.3824vw;
}

@media screen and (max-width: 767px) {
  .flow .container {
    max-width: 100%;
  }
}

.flow__boxs {
  margin-top: 2.9412vw;
}

@media screen and (max-width: 767px) {
  .flow__boxs {
    margin-top: 30px;
  }
}

.flow__box {
  border: 0.0735vw solid #dcdcdc;
  border-radius: 1.4706vw;
  display: flex;
  align-items: center;
  padding: 1.1029vw 1.8382vw 1.1029vw 1.1029vw;
}

@media screen and (max-width: 767px) {
  .flow__box {
    border: 1px solid #dedede;
    padding: 10px 20px 10px 10px;
  }
}

.flow__box:nth-of-type(n + 2) {
  margin-top: 3.1618vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .flow__box:nth-of-type(n + 2) {
    margin-top: 38px;
  }
}

.flow__box:nth-of-type(n + 2)::after {
  position: absolute;
  content: "";
  width: 1.5441vw;
  height: 1.6912vw;
  left: 50%;
  transform: translateX(-50%);
  top: -2.4265vw;
  background: url(../img/flow-arrow.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .flow__box:nth-of-type(n + 2)::after {
    width: 27px;
    height: 16px;
    top: -26px;
  }
}

.flow__picture {
  flex: 0 0 9.8529vw;
  height: 8.0147vw;
}

@media screen and (max-width: 767px) {
  .flow__picture {
    flex: 0 0 98px;
    height: auto;
  }
}

.flow__textContents {
  flex: 0 1 100%;
  margin-left: 1.8382vw;
}

@media screen and (max-width: 767px) {
  .flow__textContents {
    margin-left: 16px;
  }
}

.flow__title {
  font-size: 1.25vw;
  font-weight: 900;
}

@media screen and (max-width: 767px) {
  .flow__title {
    font-size: 15px;
  }
}

.flow__text {
  margin-top: 0.5882vw;
  font-size: 1.0294vw;
  line-height: calc(24 / 14);
}

@media screen and (max-width: 767px) {
  .flow__text {
    margin-top: 5px;
    font-size: 14px;
  }
}

.pre {
  margin-top: 7.3529vw;
}

@media screen and (max-width: 767px) {
  .pre {
    margin-top: 80px;
  }
}

.pre .container {
  max-width: 83.0882vw;
}

@media screen and (max-width: 767px) {
  .pre .container {
    max-width: 100%;
  }
}

.pre__boxs {
  margin-top: 2.9412vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .pre__boxs {
    margin-top: 30px;
    flex-wrap: wrap;
  }
}

.pre__box {
  border-radius: 1.4706vw;
  background: #f7f6f5;
  flex: 0 1 15.0735vw;
  height: 15.0735vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .pre__box {
    border-radius: 10px;
    flex: 0 1 48.3582%;
    height: 141px;
  }
}

@media screen and (max-width: 767px) {
  .pre__box:nth-of-type(n + 3) {
    margin-top: 11px;
  }
}

@media screen and (max-width: 767px) {
  .pre__box:nth-of-type(even) {
    margin-left: 11px;
  }
}

.pre__picture {
  width: 5vw;
  height: 5vw;
}

@media screen and (max-width: 767px) {
  .pre__picture {
    width: 60px;
    height: 60px;
  }
}

.pre__text {
  margin-top: 1.4706vw;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .pre__text {
    margin-top: 15px;
    font-size: 14px;
  }
}

.container2 {
  margin-top: 8.8235vw;
  border-radius: 1.4706vw;
}

@media screen and (max-width: 767px) {
  .container2 {
    padding: 0 15px;
  }
}

.faq {
  padding: 8.8235vw 9.8529vw 0;
  background: #f7f6f5;
  border-radius: 0.8824vw 0.8824vw 0 0;
}

@media screen and (max-width: 767px) {
  .faq {
    padding: 60px 15px 0;
    border-radius: 12px 12px 0 0;
  }
}

.faq__boxs {
  margin-top: 2.9412vw;
  padding: 1.8382vw 7.6471vw 4.4853vw;
  border-radius: 1.4706vw;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .faq__boxs {
    margin-top: 30px;
    padding: 0 20px 25px;
    border-radius: 10px;
  }
}

.faq__box {
  border-bottom: 0.1471vw solid #e4e4e4;
}

@media screen and (max-width: 767px) {
  .faq__box {
    border-bottom: 1px solid #e4e4e4;
  }
}

.faq__header {
  padding: 2.6471vw 0 1.6176vw;
  display: flex;
  cursor: pointer;
  position: relative;
}

@media screen and (max-width: 767px) {
  .faq__header {
    padding: 24px 0;
  }
}

.faq__header::after {
  position: absolute;
  content: "";
  width: 1.5441vw;
  height: 1.5441vw;
  right: 0;
  top: calc(50% + 0.5147vw);
  transform: translateY(-50%);
  border-radius: 50%;
  background: #49b7cf;
}

@media screen and (max-width: 767px) {
  .faq__header::after {
    width: 18px;
    height: 18px;
    top: 50%;
  }
}

.faq__header.is-open .faq__right::after {
  display: none;
}

.faq__left {
  color: #49b7cf;
  font-size: 1.3971vw;
  font-weight: 700;
  font-family: "Gabarito", sans-serif;
}

@media screen and (max-width: 767px) {
  .faq__left {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

.faq__right {
  flex: 0 1 100%;
  padding-left: 1.6176vw;
  font-size: 1.3235vw;
  font-weight: 700;
  position: relative;
}

@media screen and (max-width: 767px) {
  .faq__right {
    padding: 0 26px 0 8px;
    font-size: 15px;
    line-height: calc(22 / 15);
  }
}

.faq__right::before {
  position: absolute;
  content: "";
  width: 0.6618vw;
  height: 0.1471vw;
  top: 50%;
  transform: translateY(-50%);
  right: 0.4412vw;
  background: #fff;
  border-radius: 0.3676vw;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .faq__right::before {
    width: 8px;
    height: 2px;
    right: 5px;
    border-radius: 2px;
  }
}

.faq__right::after {
  position: absolute;
  content: "";
  width: 0.1471vw;
  height: 0.6618vw;
  top: 50%;
  transform: translateY(-50%);
  right: 0.6985vw;
  background: #fff;
  border-radius: 0.3676vw;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .faq__right::after {
    width: 2px;
    height: 8px;
    right: 8px;
    border-radius: 2px;
  }
}

.faq__body {
  padding-left: 3.3088vw;
  font-size: 1.0294vw;
  line-height: calc(24 / 14);
  display: none;
}

@media screen and (max-width: 767px) {
  .faq__body {
    padding-left: 30px;
    font-size: 13px;
    line-height: calc(22 / 13);
  }
}

.about {
  padding: 7.3529vw 9.8529vw 0;
  background: #f7f6f5;
}

@media screen and (max-width: 767px) {
  .about {
    padding: 60px 15px 0;
  }
}

.about__box {
  margin-top: 2.9412vw;
  padding: 8.8235vw 8.9706vw;
  background: #fff;
  border-radius: 1.4706vw;
}

@media screen and (max-width: 767px) {
  .about__box {
    margin-top: 30px;
    padding: 30px 20px 25px;
    border-radius: 10px;
  }
}

.about__title {
  color: #49b7cf;
  font-size: 2.2059vw;
  font-family: "Gabarito", sans-serif;
  letter-spacing: 0.003em;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 24px;
  }
}

.about__title::before {
  position: absolute;
  content: "";
  left: -1.0294vw;
  top: 50%;
  transform: translateY(-50%) rotate(30deg);
  width: 0.0735vw;
  height: 2.2059vw;
  background: #49b7cf;
}

@media screen and (max-width: 767px) {
  .about__title::before {
    left: -10px;
    width: 1px;
    height: 25px;
    transform: translateY(-50%) rotate(25deg);
  }
}

.about__title::after {
  position: absolute;
  content: "";
  right: -1.0294vw;
  top: 50%;
  transform: translateY(-50%) rotate(30deg);
  width: 0.0735vw;
  height: 2.2059vw;
  background: #49b7cf;
}

@media screen and (max-width: 767px) {
  .about__title::after {
    right: -10px;
    width: 1px;
    height: 25px;
    transform: translateY(-50%) rotate(25deg);
  }
}

.about__text {
  margin-top: 3.0882vw;
  text-align: center;
  font-size: 1.1029vw;
  line-height: calc(30 / 15);
  font-weight: 500;
  letter-spacing: 0.003em;
}

@media screen and (max-width: 767px) {
  .about__text {
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
    line-height: calc(27 / 14);
  }
}

.about__picture {
  margin-top: 1.5441vw;
}

@media screen and (max-width: 767px) {
  .about__picture {
    margin: 15px auto 0;
    max-width: 246px;
  }
}

@media screen and (max-width: 767px) {
  .about__picture img {
    display: block;
    margin: 15px auto 0;
    max-width: 246px;
  }
}

.company {
  padding: 7.3529vw 8.9706vw 8.8235vw;
  border-radius: 0 0 0.8824vw 0.8824vw;
  background: #f7f6f5;
}

@media screen and (max-width: 767px) {
  .company {
    padding: 60px 15px;
    border-radius: 0 0 12px 12px;
  }
}

.company__area {
  margin-top: 2.9412vw;
  padding: 3.3088vw 7.6471vw 8.8235vw;
  background: #fff;
  border-radius: 1.4706vw;
}

@media screen and (max-width: 767px) {
  .company__area {
    margin-top: 30px;
    border-radius: 10px;
  }
}

.company__row {
  padding: 1.8382vw 0;
  border-bottom: 0.0735vw solid #e4e4e4;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .company__row {
    padding: 14px 0;
    border-bottom: 1px solid #e4e4e4;
    align-items: flex-start;
  }
}

.company__left {
  flex: 0 0 8.0147vw;
  font-size: 1.1029vw;
  line-height: calc(27 / 15);
  font-weight: 500;
  letter-spacing: 0.003em;
}

@media screen and (max-width: 767px) {
  .company__left {
    flex: 0 0 70px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.company__right {
  font-size: 1.1029vw;
  line-height: calc(27 / 15);
  font-weight: 500;
  letter-spacing: 0.003em;
}

@media screen and (max-width: 767px) {
  .company__right {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.contact {
  background: #49b7cf;
  margin-top: 5.8824vw;
  padding: 7.3529vw 9.8529vw 8.0882vw;
  border-radius: 2.6471vw;
}

@media screen and (max-width: 767px) {
  .contact {
    margin-top: 60px;
    padding: 60px 15px;
    border-radius: 12px;
  }
}

.contact .section__title {
  color: #fff;
}

.contact .section__en {
  color: #fff;
}

.contact__text {
  margin-top: 2.2059vw;
  text-align: center;
  color: #fff;
  font-size: 1.1029vw;
  line-height: calc(30 / 15);
  font-weight: 500;
  letter-spacing: 0.003em;
}

@media screen and (max-width: 767px) {
  .contact__text {
    margin: 20px 10px 0;
    text-align: left;
    font-size: 14px;
    line-height: calc(25 / 14);
  }
}

.contact__number {
  margin: 2.2059vw auto 0;
  padding-left: 3.4559vw;
  width: fit-content;
  text-align: center;
  color: #fff;
  font-size: 3.5294vw;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__number {
    margin-top: 20px;
    padding-left: 35px;
    font-size: 36px;
  }
}

.contact__number::after {
  position: absolute;
  content: "";
  width: 2.5735vw;
  height: 2.5735vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/phone02.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .contact__number::after {
    width: 26px;
    height: 26px;
  }
}

.contact__form {
  margin-top: 5.8824vw;
  padding: 8.8235vw 9.1176vw 6.6176vw;
  background: #fff;
  border-radius: 1.4706vw;
}

@media screen and (max-width: 767px) {
  .contact__form {
    margin-top: 30px;
    padding: 25px 20px 40px;
    border-radius: 10px;
  }
}

.contact__row {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .contact__row {
    display: block;
  }
}

.contact__row:nth-of-type(n + 2) {
  margin-top: 2.2059vw;
}

@media screen and (max-width: 767px) {
  .contact__row:nth-of-type(n + 2) {
    margin-top: 15px;
  }
}

.contact__row2 {
  align-items: flex-start;
}

.contact__left {
  flex: 0 0 15.2941vw;
}

@media screen and (max-width: 767px) {
  .contact__left {
    flex: 0 1 100%;
  }
}

.contact__info {
  width: fit-content;
  font-size: 1.1029vw;
  line-height: calc(27 / 15);
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .contact__info {
    font-size: 14px;
  }
}

.contact__info--required {
  position: relative;
}

.contact__info--required::after {
  position: absolute;
  content: "*";
  color: #ff0000;
  font-size: 1.1029vw;
  font-weight: 500;
  top: 0;
  right: -0.7353vw;
}

@media screen and (max-width: 767px) {
  .contact__info--required::after {
    font-size: 14px;
    right: -12px;
  }
}

.contact__info--required2::after {
  right: 0;
}

@media screen and (max-width: 767px) {
  .contact__info--required2::after {
    right: -12px;
  }
}

.contact__right {
  flex: 0 1 100%;
}

.contact__right input[type="text"],
.contact__right input[type="email"] {
  width: 100%;
  height: 3.3088vw;
  padding-left: 1.1765vw;
  font-size: 0.8824vw;
  background: #f6f6f6;
  border: 0.0735vw solid #eaeaea;
  border-radius: 0.1471vw;
}

@media screen and (max-width: 767px) {
  .contact__right input[type="text"],
  .contact__right input[type="email"] {
    height: 46px;
    margin-top: 5px;
    padding-left: 11px;
    font-size: 11px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
  }
}

.contact__right select {
  width: 100%;
  height: 3.3088vw;
  padding-left: 1.1765vw;
  font-size: 0.8824vw;
  font-weight: 500;
  background: #f6f6f6;
  border: 0.0735vw solid #eaeaea;
  border-radius: 0.1471vw;
}

@media screen and (max-width: 767px) {
  .contact__right select {
    height: 46px;
    margin-top: 5px;
    padding: 0 40px 0 11px;
    font-size: 11px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
  }
}

.contact__right--select {
  position: relative;
}

.contact__right--select::after {
  position: absolute;
  content: "";
  width: 0.5882vw;
  height: 0.5147vw;
  right: 1.3971vw;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-bottom3.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .contact__right--select::after {
    width: 8px;
    height: 8px;
    right: 15px;
  }
}

.contact__right textarea {
  width: 100%;
  height: 21.6176vw;
  font-size: 0.8824vw;
  padding: 1.1765vw;
  background: #f6f6f6;
  border: 0.0735vw solid #eaeaea;
  border-radius: 0.1471vw;
  resize: none;
}

@media screen and (max-width: 767px) {
  .contact__right textarea {
    height: 138px;
    margin-top: 5px;
    padding: 11px;
    font-size: 11px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
  }
}

.contact__wrapper {
  display: flex;
  align-items: center;
}

.contact__name {
  margin-left: 0.8824vw;
}

@media screen and (max-width: 767px) {
  .contact__name {
    margin-left: 7px;
  }
}

.contact__txt {
  font-size: 1.0294vw;
  line-height: calc(24 / 14);
}

@media screen and (max-width: 767px) {
  .contact__txt {
    font-size: 12px;
    line-height: calc(21 / 12);
  }
}

.contact__privacy {
  height: 12.5vw;
  margin-top: 0.7353vw;
  padding: 1.8382vw;
  border: 0.0735vw solid #eaeaea;
  font-size: 1.0294vw;
  line-height: calc(24 / 14);
  overflow: scroll;
  border-radius: 0.1471vw;
}

@media screen and (max-width: 767px) {
  .contact__privacy {
    height: 168px;
    margin-top: 10px;
    padding: 12px 15px;
    border: 1px solid #eaeaea;
    font-size: 11px;
    line-height: calc(18 / 11);
    border-radius: 2px;
  }
}

.contact__checkArea {
  margin-top: 1.0294vw;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .contact__checkArea {
    margin-top: 12px;
    justify-content: center;
  }
}

.contact__check {
  display: none;
}

.contact__check:checked + .contact__checkLabel::after {
  display: block;
}

.contact__checkLabel {
  padding-left: 1.6912vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__checkLabel {
    padding-left: 22px;
    font-size: 13px;
  }
}

.contact__checkLabel::before {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.1029vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0.0735vw solid #eaeaea;
  border-radius: 0.1471vw;
}

@media screen and (max-width: 767px) {
  .contact__checkLabel::before {
    width: 14px;
    height: 14px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
  }
}

.contact__checkLabel::after {
  position: absolute;
  content: "";
  width: 1.1765vw;
  height: 0.5147vw;
  left: 0.2206vw;
  top: 50%;
  transform: translateY(-90%) rotate(-45deg);
  border-left: 0.1471vw solid #49b7cf;
  border-bottom: 0.1471vw solid #49b7cf;
  display: none;
}

@media screen and (max-width: 767px) {
  .contact__checkLabel::after {
    width: 13px;
    height: 5px;
    left: 3px;
    border-left: 1px solid #49b7cf;
    border-bottom: 1px solid #49b7cf;
  }
}

.contact__btnArea {
  margin: 3.6765vw auto 0;
  width: 25.5882vw;
  height: 5.8824vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .contact__btnArea {
    margin: 25px auto 0;
    width: 265px;
    height: 58px;
  }
}

.contact__btnArea::after {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.4706vw;
  right: 4.1176vw;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .contact__btnArea::after {
    width: 12px;
    height: 16px;
    right: 25px;
  }
}

.contact__btn {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #49b7cf;
  font-size: 1.4706vw;
  font-weight: 900;
  border-radius: 4.8529vw;
  transition: all 0.4s;
}

@media screen and (max-width: 767px) {
  .contact__btn {
    font-size: 18px;
    border-radius: 66px;
  }
}

.contact__btn:hover {
  opacity: 0.7;
}

.banner__wrapper {
  position: fixed;
  right: 0;
  bottom: 2.2059vw;
}

@media screen and (max-width: 767px) {
  .banner__wrapper {
    display: none;
  }
}

.banner {
  color: #fff;
  background: #fd912d;
  writing-mode: vertical-lr;
  font-size: 1.1029vw;
  font-weight: 900;
  padding: 1.5441vw 1.1029vw 3.6765vw;
  border-radius: 1.1029vw 0 0 1.1029vw;
  letter-spacing: 0.15em;
  position: relative;
}

.banner::after {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.1029vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.8382vw;
  background: url(../img/arrow-bottom.png) center center/contain no-repeat;
}

.float {
  position: fixed;
  width: 100%;
  height: 67px;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.float__btn {
  height: inherit;
  color: #fff;
  background: #FF961B;
  border-bottom: 5px solid #FF5C01;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  position: relative;
  transition: all 0.4s;
}

.float__btn::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 16px;
  right: calc(50% - 115px);
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

.float__btn:hover {
  opacity: 1;
}

.float__btn:active {
  transform: translateY(5px);
  border: none;
}

.footer {
  margin-top: 6.9118vw;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-top: 78px;
  }
}

.footer__thanks {
  margin: 0;
}

.footer__area {
  padding: 7.2059vw 9.9265vw 5.5147vw 9.0441vw;
  background: #49b6ce;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (max-width: 767px) {
  .footer__area {
    padding: 29px 0 13px;
    display: block;
  }
}

.footer__titleArea {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateY(0.3676vw);
}

@media screen and (max-width: 767px) {
  .footer__titleArea {
    margin-top: 19px;
    align-items: center;
    transform: translateY(0);
  }
}

.footer__title {
  width: 11.3971vw;
}

@media screen and (max-width: 767px) {
  .footer__title {
    width: 131px;
  }
}

.footer__title--link {
  display: block;
}

.footer__company {
  width: 4.6324vw;
  transform: translateX(0.3676vw);
}

@media screen and (max-width: 767px) {
  .footer__company {
    width: 52px;
    transform: translateX(5px);
  }
}

.footer__company--link {
  display: block;
}

.footer__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__list {
    display: none;
  }
}

.footer__item:nth-of-type(n + 2) {
  margin-left: 2.3529vw;
}

.footer__item--link {
  display: block;
  color: #fff;
  font-size: 1.0294vw;
  font-weight: 700;
  letter-spacing: 0.004em;
}

.footer__number {
  margin-left: 1.8382vw;
  padding-left: 2.0588vw;
  color: #fff;
  font-size: 2.1324vw;
  letter-spacing: 0.003em;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .footer__number {
    margin: 0;
    font-size: 29px;
    width: fit-content;
    margin: 0 auto;
    padding-left: 28px;
  }
}

.footer__number::after {
  position: absolute;
  content: "";
  width: 1.5441vw;
  height: 1.5441vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/phone02.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .footer__number::after {
    width: 21px;
    height: 21px;
  }
}

.footer__copy {
  padding: 0.3676vw 0;
  text-align: center;
  font-size: 0.8088vw;
  font-weight: 700;
  letter-spacing: 0.004em;
}

@media screen and (max-width: 767px) {
  .footer__copy {
    padding: 6px 0;
    font-size: 10px;
  }
}

.thanks {
  padding: 8.0882vw 0 5.8824vw;
  position: relative;
}

@media screen and (max-width: 767px) {
  .thanks {
    padding: 80px 0 60px;
  }
}

.thanks::after {
  position: absolute;
  content: "";
  width: 52.1324%;
  height: 95.1737%;
  right: 0;
  bottom: -2vw;
  background: url(../img/bg.png) center center/contain no-repeat;
  z-index: -10;
}

@media screen and (max-width: 767px) {
  .thanks::after {
    width: 50%;
    height: 50%;
    bottom: 0;
    background: url(../img/bg.png) left bottom/cover no-repeat;
  }
}

.thanks__title {
  text-align: center;
  font-size: 1.4706vw;
  line-height: 1.5;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .thanks__title {
    font-size: 18px;
  }
}

.thanks__text {
  margin-top: 1.8382vw;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .thanks__text {
    margin-top: 15px;
    font-size: 14px;
  }
}

.thanks__number {
  padding-left: 2.0588vw;
  font-size: 2.1324vw;
  letter-spacing: 0.003em;
  font-weight: 500;
  font-family: "Gabarito", sans-serif;
  display: block;
  position: relative;
  width: fit-content;
  margin: 1.8382vw auto 0;
}

@media screen and (max-width: 767px) {
  .thanks__number {
    margin-top: 20px;
    padding-left: 35px;
    font-size: 36px;
  }
}

.thanks__number::after {
  position: absolute;
  content: "";
  width: 1.5441vw;
  height: 1.5441vw;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/phone01.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .thanks__number::after {
    width: 26px;
    height: 26px;
  }
}

.thanks__btn {
  width: 21.0294vw;
  height: 4.2647vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: linear-gradient(90deg, #ff961b, #ff5c00);
  font-size: 1.3235vw;
  font-weight: 900;
  border-radius: 4.8529vw;
  margin: 3.2353vw auto 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .thanks__btn {
    margin: 30px auto 0;
    width: 286px;
    height: 58px;
    font-size: 18px;
    border-radius: 66px;
  }
}

.thanks__btn::after {
  position: absolute;
  content: "";
  width: 1.1029vw;
  height: 1.4706vw;
  right: 2.9412vw;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arrow-right.png) center center/contain no-repeat;
}

@media screen and (max-width: 767px) {
  .thanks__btn::after {
    width: 12px;
    height: 16px;
    right: 40px;
  }
}
/*# sourceMappingURL=style.css.map */